.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: rgb(155, 155, 155);
  display: grid;
  align-items: center;
  justify-content: start;
  padding: 0px 40px;
}
