/* Setup layout of front page within the body */
body {
  display: grid;
  /* 
      1. Nav 
      2. Hero 
      3. Features 
      4. Promo 1 
      5. Promo 2 
      6. CTA 
    */
  grid-template-rows:
    100px
    800px
    500px
    auto
    auto
    400px;
}

/* Navigation bar ++ */

.nav {
  display: grid;
  background-color: #63b4d1;
}

.nav__list {
  display: grid;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0px;
  margin: 0;
  grid-template-columns: repeat(auto-fit, 100px);
}

.nav__item {
  position: relative;
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100%;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:hover:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  z-index: 1;
  animation: curtain 0.3s ease-in-out 1 both;
}

.nav__link-text {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: grid;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}

/* Navigation bar -- */

/* Hero section ++ */

.hero {
  background-image: url(/resources/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 400px;
}

/* Hero section -- */

/* Features section ++ */

.features {
  display: grid;
  background-color: #63b4d1;
  border-top: solid 6px #7699d4;
  grid-template-columns: repeat(3, 250px);
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

.features__item {
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -500px;
}

.features__image {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
}

.features__title {
  font-size: 1.3em;
  font-weight: bold;
}

/* Utility class for animation */
.from-top {
  animation: from-top 0.5s ease-in-out 1 both;
}

/* Features section -- */

/* Promo section ++ */

.promo {
  display: grid;
  padding: 50px;
  overflow: hidden;
  grid-template-columns: 1fr 2fr;
}

.promo__image {
  position: relative;
  height: 500px;
  left: -100%;
}

.promo__content {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.2em;
  position: relative;
  top: -100%;
}

.promo__title {
  font-size: 2em;
  font-weight: bold;
}

/* Modifier: Reverse Layout */
.promo--reverse {
  grid-template-columns: 2fr 1fr;
}

.promo--reverse .promo__image {
  left: auto;
  right: -100%;
}

/* Modifier: Purple Color Scheme */
.promo--purple {
  background-color: #9448bc;
  border-top: solid 6px #480355;
  color: white;
}

/* Animation Utilities */
.from-left {
  animation: from-left 0.7s ease-in-out 1 both;
  animation-delay: 0.5s;
}

.from-right {
  animation: from-right 0.7s ease-in-out 1 both;
  animation-delay: 0.5s;
}

/* Promo section -- */

/* CTA section ++ */

.cta {
  display: grid;
  background-color: #90fcf9;
  align-items: center;
  justify-content: center;
}

/* CTA section -- */

/* Button section ++ */

.cta__button {
  padding: 10px 20px;
  border: solid 3px white;
  text-transform: capitalize;
  font-family: "Bitter", serif;
  font-size: 1.3em;
  color: white;
  background-color: transparent;
  position: relative;
  transition: transform 1s;
}

.cta__button:hover {
  cursor: pointer;
  transform: perspective(400px) rotateY(30deg) scale(1.1);
}

.cta__button:hover:after {
  content: "";
  position: absolute;
  inset: -3px;
  background:
    linear-gradient(#7699d4, #7699d4), linear-gradient(#7699d4, #7699d4),
    linear-gradient(#7699d4, #7699d4), linear-gradient(#7699d4, #7699d4);
  background-size:
    0 3px,
    3px 0,
    0 3px,
    3px 0;
  background-position:
    left top,
    right top,
    right bottom,
    left bottom;
  background-repeat: no-repeat;
  animation: button-hover 0.6s ease-in-out 1 both;
}

/* Button section -- */

/* Animations ++ */

@keyframes curtain {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

@keyframes from-top {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}

@keyframes from-left {
  0% {
    left: -100%;
  }
  60% {
    left: 400px;
  }
  100% {
    left: 200px;
  }
}

@keyframes from-right {
  0% {
    right: -100%;
  }
  60% {
    right: 400px;
  }
  100% {
    right: 200px;
  }
}

@keyframes button-hover {
  0% {
    background-size:
      0 3px,
      3px 0,
      0 3px,
      3px 0;
  }
  25% {
    background-size:
      100% 3px,
      3px 0,
      0 3px,
      3px 0;
  }
  50% {
    background-size:
      100% 3px,
      3px 100%,
      0 3px,
      3px 0;
  }
  75% {
    background-size:
      100% 3px,
      3px 100%,
      100% 3px,
      3px 0;
  }
  100% {
    background-size:
      100% 3px,
      3px 100%,
      100% 3px,
      3px 100%;
  }
}

/* Animations -- */
