@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v23/PN_3Rfi-oW3hYwmKDpxS7F_D-djb.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v23/PN_oRfi-oW3hYwmKDpxS7F_LQv3LyVsj.ttf) format('truetype');
}
body {
  display: grid;
}
body > main {
  display: grid;
}
body > main #primary-nav {
  display: grid;
  background-color: #F283B6;
  border-bottom: solid 8px #E06C9F;
  align-items: center;
  justify-content: center;
}
body > main #primary-nav #logo {
  width: 200px;
}
body > main #secondary-nav {
  display: grid;
  background-color: #EDBFB7;
}
body > main #secondary-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  justify-content: center;
  text-align: center;
}
body > main #secondary-nav ul li a {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
}
body > main .cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body > main .cities li {
  display: grid;
  border: solid 3px #E06C9F;
  padding: 10px 30px;
}
body > main .cities li .city-img {
  grid-area: city-img;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}
body > main .cities li .text-wrapper {
  grid-area: text-wrapper;
}
body > main .cities li .text-wrapper h2 {
  font-size: 2em;
}
body > main .cities li .text-wrapper p {
  margin: 0;
}
body > main .banner-area {
  display: grid;
}
body > main .banner-area #banner {
  display: grid;
  gap: 20px;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
  color: #FFFFFF;
  background-color: #EDBFB7;
}
body > main .banner-area #banner h1 {
  font-size: 2em;
}
body > main .banner-area #banner ul.city-previews {
  display: grid;
}
body > main .banner-area #banner ul.city-previews li {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body > main footer {
  background-color: #F283B6;
  border-top: solid 8px #E06C9F;
}
body #right-aside {
  display: none;
}
@media screen and (min-width: 1025px) {
  body {
    grid-template-columns: auto 250px;
  }
  body > main {
    grid-template-rows: 0.7fr 0.3fr 1.5fr 1.2fr 0.3fr;
  }
  body > main .cities li {
    grid-template-areas: "city-img" "text-wrapper";
  }
  body > main .banner-area #banner ul.city-previews {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
  body #right-aside {
    display: block !important;
    background-color: #B5BFA1;
    border-left: solid 8px #6E9887;
    color: #FFFFFF;
    padding: 40px;
    text-align: center;
  }
  body #right-aside img {
    width: 150px;
    margin-bottom: 20px;
  }
  #right-aside-inside {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 481px) {
  body > main {
    grid-template-rows: 0.4fr 0.15fr 1.2fr 1.2fr 0.2fr;
  }
  body > main .cities {
    grid-template-columns: repeat(2, 1fr);
  }
  body > main .cities li {
    align-items: center;
  }
  body > main .cities li .city-img {
    width: 250px;
  }
  body > main .cities li .text-wrapper {
    font-size: 0.6em;
  }
  body > main .cities li:not(:last-child) {
    grid-template-areas: "city-img text-wrapper";
  }
  body > main .cities li:not(:last-child) .city-img {
    width: 200px;
    height: 150px;
    margin-right: 20px;
  }
  body > main .cities li:last-child {
    grid-column: 1 / span 2;
    grid-template-areas: "text-wrapper city-img";
  }
  body > main .cities li:last-child .city-img {
    margin-left: 20px;
  }
  body > main .banner-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body > main .banner-area #banner ul.city-previews {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  body > main .banner-area #right-aside-inside {
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: 40px;
    background-color: #B5BFA1;
    color: #FFFFFF;
  }
  body > main .banner-area #right-aside-inside img {
    width: 150px;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    height: 100vh !important;
  }
  body > main {
    grid-template-rows: 0.5fr 0.2fr auto 0.8fr 0.2fr;
  }
  body > main ul.cities {
    grid-template-columns: 1fr;
  }
  body > main ul.cities li {
    align-items: center;
  }
  body > main ul.cities li .city-img {
    width: 150px;
    height: 100px;
  }
  body > main ul.cities li .text-wrapper {
    font-size: 0.6em;
  }
  body > main ul.cities li:nth-child(even) {
    grid-template-areas: "text-wrapper city-img";
  }
  body > main ul.cities li:nth-child(even) .city-img {
    margin-left: 20px;
  }
  body > main ul.cities li:nth-child(odd) {
    grid-template-areas: "city-img text-wrapper";
  }
  body > main ul.cities li:nth-child(odd) .city-img {
    margin-right: 20px;
  }
  body > main .banner-area #banner ul.city-previews {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  body > main .banner-area #banner ul.city-previews li {
    width: 100px;
    height: 100px;
  }
  #right-aside-inside {
    display: none;
  }
}
