#todo-container {
  display: grid;
  justify-items: center;
  gap: 20px;
  padding: 50px 100px;
}

.modal-backsplash {
  visibility: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  align-items: center;
  justify-items: center;
}

.modal-backsplash .modal {
  display: grid;
  grid-template-rows: 50px auto 50px;
  background-color: white;
  width: 50%;
  min-height: 50%;
  padding: 40px;
}

.modal-backsplash .modal .modal-header {
  font-size: 2em;
  font-weight: bold;
}

.modal-backsplash .modal .modal-body {
  margin-top: 20px;
}

.modal-backsplash .modal .modal-footer {
  display: grid;
  justify-content: end;
}
