@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v26/PN_3Rfi-oW3hYwmKDpxS7F_D-djb.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v26/PN_oRfi-oW3hYwmKDpxS7F_LQv3LyVsj.ttf) format('truetype');
}
body {
  display: grid;
}
body #main {
  display: grid;
}
body #main nav#primary-nav {
  display: grid;
  background-color: #F283B6;
  border-bottom: solid 8px #E06C9F;
  justify-content: center;
  align-items: center;
}
body #main nav#primary-nav img#logo {
  width: 200px;
}
body #main nav#secondary-nav {
  display: grid;
  background-color: #EDBFB7;
}
body #main nav#secondary-nav ul {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  justify-content: center;
  text-align: center;
}
body #main nav#secondary-nav ul li a {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
}
@media only screen and (min-width: 1025px) {
  body {
    grid-template-columns: 1fr 250px;
  }
  body main#main {
    grid-template-rows: 150px 100px auto 400px auto;
  }
  body main#main ul.cities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main#main ul.cities li {
    padding: 40px;
    border: solid 4px #F283B6;
  }
  body main#main ul.cities li .city-img {
    height: 250px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  body main#main ul.cities li .text-wrapper h2 {
    font-size: 2em;
  }
  body main#main .banner-area {
    display: grid;
    align-items: center;
    background-color: #EDBFB7;
  }
  body main#main .banner-area #banner {
    display: grid;
    height: 100%;
  }
  body main#main .banner-area #banner h1 {
    display: grid;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
  }
  body main#main .banner-area #banner ul.city-previews {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  body main#main .banner-area #banner ul.city-previews li {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  body main#main .banner-area aside#right-aside-inside {
    display: none;
  }
  body main#main footer {
    background-color: #F283B6;
    border-top: solid 8px #E06C9F;
  }
  body aside#right-aside {
    display: grid;
    padding: 40px;
    color: #FFFFFF;
    background-color: #B5BFA1;
    border-left: solid 8px #6E9887;
    grid-template-rows: 200px auto;
    text-align: center;
    font-size: 1.2em;
  }
  body aside#right-aside img {
    width: 150px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body main#main {
    grid-template-rows: 150px 100px auto 400px auto;
  }
  body main#main ul.cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  body main#main ul.cities li {
    display: grid;
    padding: 40px;
    border: solid 4px #F283B6;
    gap: 20px;
  }
  body main#main ul.cities li .city-img {
    grid-area: city;
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  body main#main ul.cities li .text-wrapper {
    display: grid;
    align-content: center;
    grid-area: text-wrapper;
  }
  body main#main ul.cities li .text-wrapper h2 {
    font-size: 2em;
  }
  body main#main ul.cities li .text-wrapper p {
    font-size: 0.8em;
  }
  body main#main ul.cities li:not(:last-child) {
    grid-template-areas: "city text-wrapper";
  }
  body main#main ul.cities li:last-child {
    grid-column: 1 / span 2;
    grid-template-areas: "text-wrapper city";
  }
  body main#main .banner-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body main#main .banner-area #banner {
    background-color: #EDBFB7;
  }
  body main#main .banner-area #banner .city-previews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  body main#main .banner-area #banner .city-previews li {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  body main#main .banner-area #right-aside-inside {
    display: grid;
    background-color: #B5BFA1;
    padding: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  body main#main .banner-area #right-aside-inside img {
    width: 150px;
  }
  body #right-aside {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: pink;
  }
}
